<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="emp_info.css">
    <script src="emp_info.js"></script>
    <title>Document</title>
</head>
<body>
    



    <div id="id-div-main">



    <a type="button1" class="button button1"  class="fa fa-print" id="d-btn-print" type="button" onclick="printdiv(''id-div-print'');" value="Print">
        <b class="fa fa-print">Print</b>
    </a>



        <div id="id-div-print">



        <div class="cls-div-loop">



                <style type="text/css">
                    table {font-family: arial, sans-serif; width: 100%; font-size: 1.4rem;}
                    td, th {border: 0.01px solid #dddddd;text-align: left;padding: 0.01px;}
                </style>



            <table style="">

                <tr style="">
                    <th style="text-align: left; width: 33%; ">
                        Date: January-22, 2022
                    </th>
                    <th style=" text-align: center; width: 33%; ">
                        পল্লী সঞ্চয় ব্যাংক
                    </th>
                    <th style="text-align: right; width: 33%; ">
                        আইডি নং: Emp_ID
                    </th>
                </tr>

            </table>



            <table style="">

                <tr style="">
                    <th style=" text-align: center; ">
                        প্রধান কার্যালয়, ঢাকা
                    </th>
                </tr>

            </table>



            <table style="">

                <tr style="">
                    <th style=" text-align: center; font-size: 1.2rem; ">
                        (অফিসার (সাধারণ) পদ হতে সিনিয়র অফিসার পদে পদোন্নতি বিবেচনার নিমিত্তে বাছাই কমিটির ব্যবহারের জন্য)
                    </th>
                </tr>

            </table>



            <table>
                <tr>
                    <th style="text-align: left; width: 40%;">
                        (১) ক্রমিক নং (জ্যেষ্ঠতা তালিকা অনুসারে)
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        01
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (২) নাম
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        EMPLOYEE_NAME
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (৩) পদবী ও বর্তমান কর্মস্থল
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        BANK_DESIGNATION_NAME & PRESENT_BRANCH
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (৪) গ্রেড ও বেতনক্রম
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>



                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (৫) জন্ম তারিখ
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        DATE_OF_BIRTH
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (৬) প্রকল্পে যোগদানের তারিখ ও পদবী
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        FIRST_JOINNING_DATE & FIRST_DESIGNATION_NAME
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (৭) ব্যাংকে যোগদানের তারিখ ও পদবী
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        BANK_JOINING_DATE & BANK_DESIGNATION_NAME
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (৮) নিজ জেলা
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        DISTRICT_NAME
                    </td>
                </tr>

            </table>



            <table>

                <tr>
                    <th style="text-align: left; ">
                        (৯) শিক্ষাগত যোগ্যতা:
                    </th>
                </tr>

            </table>


            <table>

                <tr>
                    <th style="text-align: center;">
                        এসএসসি/সমমান
                    </th>
                    <th style="text-align: center;">
                        এইচএসসি/সমমান
                    </th>
                    <th style="text-align: center;">
                        ডিগ্রি/সমমান
                    </th>
                    <th style="text-align: center;">
                        অনার্স/সমমান
                    </th>
                    <th style="text-align: center;">
                        মাস্টার্স/সমমান
                    </th>
                </tr>

                <tr>
                    <td style="text-align: center;">
                        SSC_RESULT
                    </td>
                    <td style="text-align: center;">
                        HSC_RESULT
                    </td>
                    <td style="text-align: center;">
                        PASS_RESULT
                    </td>
                    <td style="text-align: center;">
                        HONS_RESULT
                    </td>
                    <td style="text-align: center;">
                        MASTERS_RESULT
                    </td>
                </tr>

            </table>



            <table>

                <tr>
                    <th style="text-align: left; ">
                        (১০) চাকরিকালীন কর্মস্থল:
                    </th>
                </tr>

            </table>


            <table>

                <tr>
                    <th style="text-align: center;">
                        কার্যালয়ের নাম
                    </th>
                    <th style="text-align: center;">
                        হতে
                    </th>
                    <th style="text-align: center;">
                        পর্যন্ত
                    </th>
                </tr>


                <tr>
                    <td style="text-align: center;">
                        BRANCH_NAME
                    </td>
                    <td style="text-align: center;">
                        Start_Date
                    </td>
                    <td style="text-align: center;">
                        End_Date
                    </td>
                </tr>
                
      
            </table>








            <table>

                <tr>
                    <th style="text-align: left; ">
                        (১১) প্রাপ্ত নম্বরের বিবরণ:
                    </th>
                </tr>

                <tr>
                    <th style="text-align: left; ">
                        (ক) বার্ষিক গোপণীয় প্রতিবেদন:
                    </th>
                </tr>

            </table>



            <table>

                <tr>
                    <th style="text-align: left;">
                        বছর
                    </th>
                    <th style="text-align: center;">
                        ২০১৬-২০১৭
                    </th>
                    <th style="text-align: center;">
                        ২০১৭-২০১৮
                    </th>
                    <th style="text-align: center;">
                        ২০১৮-২০১৯
                    </th>
                    <th style="text-align: center;">
                        ২০১৯-২০২০
                    </th>
                    <th style="text-align: center;">
                        ২০২০-২০২১
                    </th>
                    <th style="text-align: center;">
                        মোট নম্বর
                    </th>
                </tr>

                <tr>
                    <th style="text-align: left;">
                        মূল্যায়ন
                    </th>
                    <td style="text-align: center;">
                        Good
                    </td>
                    <td style="text-align: center;">
                        Better
                    </td>
                    <td style="text-align: center;">
                        Best
                    </td>
                    <td style="text-align: center;">
                        Better
                    </td>
                    <td style="text-align: center;">
                        Best
                    </td>
                    <td style="text-align: center; border-bottom:none; width: 99.06px;">
                        94
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left;">
                        প্রাপ্ত নম্বর
                    </th>
                    <td style="text-align: center;">
                        96
                    </td>
                    <td style="text-align: center;">
                        97
                    </td>
                    <td style="text-align: center;">
                        98
                    </td>
                    <td style="text-align: center;">
                        97
                    </td>
                    <td style="text-align: center;">
                        98
                    </td>
                    <td style="text-align: center; border-top:none; width: 99.06px;">
                    </td>
                </tr>

            </table>



            <table>

                <tr>
                    <th style="text-align: left;">
                        (খ) শিক্ষাগত যোগ্যতা (পদোন্নতিযোগ্য পদে নিয়োগ প্রবিধানের তফসিলে সরাসরি নিয়োগের ক্ষেত্রে উল্লিখিত শিক্ষাগত যোগ্যতার জন্য পূর্ণ নম্বর, কমের ক্ষেত্রে আনুপাতিক হারে)= ১৫ নম্বরঅনার্স/মাস্টার্স)
                    </th>
                    <td style="text-align: center; width: 99.06px;">
                        15
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left;">
                        (গ) মেয়াদউত্তীর্ণ ঋণ ৭০% এবং তদূর্ধ্ব আদায়ের ক্ষেত্রে (কম আদায়ের ক্ষেত্রে আনুপাতিক হারে কম)= ৩০ নম্বর
                    </th>
                    <td style="text-align: center; width: 99.06px;">
                        30
                    </td
                </tr>

                <tr>
                    <th style="text-align: left;">
                        (ঘ) মাঠ পর্যায়ের অভিজ্ঞতা/ টেকনিক্যাল কাজে বিশেষ দক্ষতা (৫ নম্বর)
                    </th>
                    <td style="text-align: center; width: 99.06px;">
                        5
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left;">
                        (ঙ) মোট নম্বর (ক + খ + গ +ঘ + ঙ)
                    </th>
                    <td style="text-align: center; width: 99.06px;">
                        146
                    </td>
                </tr>

            </table>


            <table>

                <tr style="height: 5px;">
                    
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (১২) এ.সি.আর. এর বিরূপ মন্তব্য (যদি থাকে)
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        Not Applicable
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (১৩) শৃংখলাজনিত মোকদ্দমা, শাস্তি, জাল-জালিয়াতি, আতœসাৎ, অফিস শৃংখলা ভঙ্গ ইত্যাদি সংক্রান্ত তথ্যাদি
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        Not Applicable
                    </td>
                </tr>

            </table>



            <table>

                <tr style="height: 5px;">
                    
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (১৪) অন্যান্য মন্তব্য (যদি থাকে)
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        Not Applicable
                    </td>
                </tr>

                <tr>
                    <th style="text-align: left; width: 40%;">
                        (১৫) বাছাই কমিটির মন্তব্য
                    </th>
                    <th style="text-align: center;">
                        :
                    </th>
                    <td style="text-align: left; width: 65%;">
                        Not Applicable
                    </td>
                </tr>

            </table>

            <table>

                <tr style="height: 5px;">
                    
                </tr>

                <tr>
                    <th style="text-align: center;">
                        সভাপতি
                    </th>
                    <th style="text-align: center;">
                        সদস্য
                    </th>
                    <th style="text-align: center;">
                        সদস্য
                    </th>
                    <th style="text-align: center;">
                        সদস্য-সচিব
                    </th>
                </tr>

                <tr>
                    <td style="text-align: center; height: 25px;">
                    </th>
                    <td style="text-align: center; height: 25px;">
                    </td>
                    <td style="text-align: center; height: 25px;">
                    </td>
                    <td style="text-align: center; height: 25px;">
                    </td>
                </tr>

            </table>

        </div>

        </div>
    </div>




</body>
</html>